version: "3.9"

services:

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: moneykeep_backend
    restart: always
    env_file:
      - .env
    ports:
      - "3333:8000"
    volumes:
      - .:/app

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: moneykeep_frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

  db:
    image: postgres:16
    container_name: moneykeep_db
    restart: always
    environment:
      POSTGRES_USER: moneykeep
      POSTGRES_PASSWORD: moneykeep
      POSTGRES_DB: moneykeep
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data: