services:
  db:
    container_name: moneykeep_db
    image: postgres:17-alpine
    restart: always
    env_file:
      - .env
    volumes:
      - pg_data:/var/lib/pgsql/data

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: moneykeep_backend
    restart: always
    env_file:
      - .env
    depends_on:
      - db

  gateway:
    build:
      context: .
      dockerfile: nginx/Dockerfile
    container_name: moneykeep_proxy
    restart: always
    ports:
      - "8088:80"
    depends_on:
      - backend

volumes:
  pg_data: