name: Main MoneyKeep workflow


on:
  push:
    branches:
      - main

jobs:
  build_backend_and_push_to_docker_hub:
    name: Push backend Docker image to DockerHub
    runs-on: ubuntu-latest
    steps:
      - name: Check out to repo
        uses: actions/checkout@v5
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: login to Docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push to DockerHub
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          context: ./
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/moneykeep_backend:${{ github.sha }}
            ${{ secrets.DOCKER_USERNAME }}/moneykeep_backend:latest

  build_gateway_and_push_to_docker_hub:
    name: Push gateway Docker image to DockerHub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push to DockerHub
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          context: .
          file: nginx/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/moneykeep_proxy:${{ github.sha }}
            ${{ secrets.DOCKER_USERNAME }}/moneykeep_proxy:latest
  
  deploy:
    name: Deploy to server
    runs-on: ubuntu-latest
    needs:
      - build_backend_and_push_to_docker_hub
      - build_gateway_and_push_to_docker_hub
    steps:
    - name: Checkout repo
      uses: actions/checkout@v5
    - name: Copy docker-compose.production.yml via ssh
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.DEPLOY_SERVER_HOST }}
        username: ${{ secrets.DEPLOY_SERVER_USER }}
        key: ${{ secrets.DEPLOY_SERVER_SSH_KEY }}
        port: ${{ secrets.DEPLOY_SERVER_PORT }}
        passphrase: ${{ secrets.DEPLOY_SERVER_SSH_PASSPHRASE }}
        source: "docker-compose.production.yml"
        target: "${{ secrets.DEPLOY_SERVER_TARGET }}"
    - name: Executing remoute ssh commands to deploy
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.DEPLOY_SERVER_HOST }}
        username: ${{ secrets.DEPLOY_SERVER_USER }}
        key: ${{ secrets.DEPLOY_SERVER_SSH_KEY }}
        port: ${{ secrets.DEPLOY_SERVER_PORT }}
        passphrase: ${{ secrets.DEPLOY_SERVER_SSH_PASSPHRASE }}
        script: |
          cd ${{ secrets.DEPLOY_SERVER_TARGET }}
          docker compose -f docker-compose.production.yml pull
          docker compose -f docker-compose.production.yml up -d